body {
  background-color: #252525;
  color: #d4d4d4;
  font-family: 'Poppins', sans-serif;
  /* display: flex;
  flex-direction: row; */
}

.placeHolder {
  display: flex;
  flex-direction: row;
}





.button-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: start;
  align-items: center; */
}
/* 
.button-wrapper .button {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  background-color: #3a3a3a;
  cursor: pointer;
} */

.button .button-effect-name {
  font-size: 1.2rem;
  margin: 0.5rem;
  border-bottom: 1px;
  text-align: center;
  align-items: center;
}

button {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  background-color: #3a3a3a;
  cursor: pointer;
}