body {
  background-color: #252525;
  color: #d4d4d4;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  /* display: flex;
  flex-direction: row; */
}

.placeHolder {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #3a3a3a;
  padding: 0%;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgb(93, 118, 140);
}

button {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  background-color: #3a3a3a;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 3px rgb(93, 118, 140);
}

.reactiveImg {
  height: 15%;
  width: 15%;
  padding: 2%;
  border-radius: 20%;
}

.mirroredImg {
  transform: scaleX(-1); /*Gerard the great, how does this work!?*/
  height: 15%;
  width: 15%;
  padding: 2%;
  border-radius: 20%;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: start;
  align-items: center; */
}

.button-wrapper .button {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  background-color: #3a3a3a;
  cursor: pointer;
}

.button .button-effect-name {
  font-size: 1.2rem;
  margin: 0.5rem;
  border-bottom: 1px;
  text-align: center;
  align-items: center;
}
